// sizes
$svh: 100svh;
$size: 100%;
$pd: 1.25rem;
$rd: .5rem;
// fonts
$fnt-play: 'Play', sans-serif;
$fnt-abel: 'Abel', sans-serif;
// colors
$light-color: hsl(199 24% 92%);
$dark-color: hsl(227 55% 12%);